* {
font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif}

body {
text-align: center;
}

nav{
    display:inline-block;
    margin-right: 700px;
    color:black;
}
a {
display:inline;
}


.timer {
    display:inline-block;
    position:relative;
    justify-content: flex-end;
    
}

.quiz {
    color:blueviolet;
   text-align: center;
   padding-top: 200px;
}

#start-quiz{
    border:none;
    color:white;
   background-color: rgb(197, 163, 228);
   padding: 12px 35px;
   transition-duration: 0.6s;
}
#start-quiz:hover{
    background-color: white;
    color:blueviolet;
    opacity: 0.5;
}


.answer-list{
display:inline-flex;
flex-direction: column;
}

.answer{
    background-color: rgb(197, 163, 228);
    color: white;
    border: none;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
    padding: 10px 30px ;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px 12px;
    transition-duration: 0.6s;
}

button:hover{
    background-color: white;
    color:blueviolet;
    opacity: 0.5;
}
section h2 {
    margin-top: 200px;
}
ul {
    margin:50px;
    
}

ul li{
list-style-type: none;
margin: 0 20px 0 20px;
}


#title-page {
    width: 50%;
    margin:auto;
    text-align: center;
    align-content: center;
    background-color: white;
    margin-top: 20px;
}

#question1 {
    width: 50%;
    padding: 50px 0;
    margin: auto;
    text-align: center;
    align-content: center;
    background-color: white;
    display: none;
}
#question2 {
    width: 50%;
    padding: 50px 0;
    margin: auto;
    text-align: center;
    align-content: center;
    background-color: white;
    display: none;
}

#question3 {
    width: 50%;
    padding: 50px 0;
    margin: auto;
    text-align: center;
    align-content: center;
    background-color: white;
    display: none;
}

#displayScore{
    display: none;
}

#fname {
margin-bottom: 40px;
}